.results {
    &__container {
        width: 100%;
        height: auto;
        background-color: rgb(238, 238, 238);
    }
    &__button {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

.row {
    &--results {
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }
    &--noTop {
        border-top: 0px;
    }
}